.slideShow{
    text-align:center;
    font-weight:bold; 
    margin-bottom: 1.5rem;
}

.slideShow img { /* style images that are inside of class slideShow */
    width: 80%;
    box-shadow: 0.25rem 0.25rem 0.25rem  #444444;
    border-radius:0.5rem;
    margin-bottom: 0.5rem;
}

.slideShow button {
    width: 3rem;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 0.1rem 0.1rem 0.1rem  #444444;
    border-radius:0.25rem;
}